.card-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top: 5px;
}

.news-header-background {
    border-radius: 10px;
}

.card {
    background-color: white;
    height: 50%;
    width: 80%;
}