/* .navbar li .glyphicon {
    margin-right: 15px;
} */

/* Highlighting rules for nav menu items */
.navbar .navbar-nav .active a,
.navbar .navbar-nav .active a:hover,
.navbar .navbar-nav .active a:focus {
    background-image: none;
    background-color: #4189C7;
    color: white;
}

/* On large screens, convert the nav menu to a vertical sidebar */
.navbar {
    /* height: 100%; */
    /* width: calc(15% - 5px); */
    background-color: #FFE5EE;
}

.navbar-default {
  
    background-color: #FFE5EE;
    border-color: #FFE5EE;
    background-image: none;

}

.navbar-brand {
    position: relative;
    height: 10%;
    width: 10%;
}

.nav{
    height: 100%
}
.navbar-header {
    width:20%;
}
.navbar li {
    /* font-size: 15px; */
    /* margin: 6px; */
    height:100%;
}

.navbar li a {
    padding: 10px 16px;
    border-radius: 4px;
}
/* .navbar .navbar-collapse {
    border-top: 1px solid #FFE5EE;
    padding: 0;
} */
